<p>
  <strong>Project Name:</strong>
  <%= @project.name %>
</p>

<strong>Project Tasks</strong>

<ol>
  <% @project.tasks.each do |task| %>
    <li><%= task.name %></li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>