<div class="field">
  <%= producer.label :name, "Producer Name" %><br>
  <%= producer.text_field :name %>
</div>

<div class="field">
  <%= producer.label :studio %><br>
  <%= producer.text_field :studio %>
</div>