<div class="field">
  <%= profile.label :twitter_name %><br>
  <%= profile.text_field :twitter_name %>
</div>

<div class="field">
  <%= profile.label :github_name %><br>
  <%= profile.text_field :github_name %>
</div>